 .width{
        width:350px !important;
    }

    h2{
        font-size: 40px;
    }

    .filter{
        position: absolute;
        left: 73%;
        top: -6%;
    }

    .filter_bottom{
        position: absolute;
        left: 64%;
        top: 2%;
        
    }

    .position_fixed{
        margin-left: -65px;
        margin-top: -8%;
    }

    .navbar_height{
        height: 70px !important;
        background-color: grey !important;
    }

    .vl {
    border-left: 1px solid grey;
    margin-top: -35px;
    height: 1000px;
    margin-left: 320px;
}

.box_width{
    width: 126% !important;
    background-color: transparent;
}
.span{
    font-size: 50px;
    color: #bdbdbd;
    position: absolute;
    top: 25px;
}

.size{
    width: 85%; 
    background-color: white;
    text-align: left
}

.drop_width{
    width: 100%
}

label{
    font-weight: 300;
}

input[type=checkbox] {
    zoom:1.5;
}

.jumbotron{
    margin-top: -55px;
}

@media(max-width: 1024px){
     .position_fixed{
        margin-left: -10px;
        margin-top: -8%;
    }

    .jumbotron{
        margin-left: 100px !important;
    }

    .vl{
        margin-left: 368px;
    }

}

@media(max-width: 768px){
    span{
        font-size: 38px !important;
    }


}

.adjust{
    position: absolute;
    top: 360px;
     height: 270px
}
